instances:
  - name: "telegram_bot"
    port: 8041
    enabled: true
    allowed_ips:
      - "192.168.1.0/24"
      - "192.168.2.3/32"
    telegram:
      enabled: true
      bot_token: "123456:ABC-DEF"
      chat_id: "-456789123"
      retry_count: 3
      retry_delay: 2


  - name: "matrix_bot"
    port: 8042
    enabled: true
    allowed_ips:
      - "192.168.1.0/24"
      - "192.168.2.3/32"
    matrix:
      enabled: true
      homeserver: "https://matrix.example.com"
      username: "@notify-bot:example.com"
      password: "your_strong_password"
      room_id: "!roomid:example.com"
      retry_count: 3
      retry_delay: 2


  - name: "example"
    enabled: false
    port: 8050
    allowed_ips:
      # - "0.0.0.0/0"
      # - "10.0.0.0/8"
      # - "172.0.0.0/16"
      - "192.168.1.0/24"
      - "192.168.2.3/32"
    telegram:
      enabled: true
      bot_token: "789101:GHI-JKL"
      chat_id: "-987654321"
      retry_count: 3
      retry_delay: 2
    matrix:
      enabled: true
      homeserver: "https://matrix.example.com"
      username: "@notify-bot:example.com"
      password: "secret_password"      # или access_token
      # access_token: "syt_..."          # токен вместо пароля
      room_id: "!roomid:example.com"
      retry_count: 3
      retry_delay: 2
